:root {
  --clr-primary: hsl(222, 11%, 17%);
  --clr-secondary: hsl(7, 84%, 58%);
  --clr-neutral: hsl(0, 0%, 83%);

  --ff-family: 'Lato', sans-serif;
  --ff-heading: var(--ff-family);
  --ff-body: var(--ff-family);

  --fw-regular: 400;
  --fw-semi-bold: 700;
  --fw-bold: 900;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-family);
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {

}