:root {
  --clr-primary: hsl(222, 11%, 17%);
  --clr-secondary: hsl(7, 84%, 58%);
  --clr-primary-light: hsl(0, 0%, 27%);
  --clr-neutral: hsl(0, 0%, 83%);
  --clr-neutral-light: hsl(0, 0%, 95%);
  --clr-white: hsl(0, 0%, 100%);

  --ff-family: 'Lato', sans-serif;
  --ff-heading: var(--ff-family);
  --ff-body: var(--ff-family);

  --fw-regular: 400;
  --fw-regurlar-plus: 500;
  --fw-semi-bold: 700;
  --fw-bold: 900;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

li {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-family);
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1;
}

@media screen and (max-width: 768px) {
  .hide {
    display: none !important;
  }

  /* navigation */
  .navigation_wrapper {
    display: none;
    position: absolute;
    justify-content: center;
    inset: 0;
    padding-top: 25px;
    background-color: var(--clr-neutral);
  }

  .menu_list > li {
    padding: 15px;
    color: var(--clr-secondary);
    font-weight: var(--fw-semi-bold);
    font-size: 25px;
  }

  .menu_btn {
    display: flex;
    position: absolute;
    padding: 15px 0 15px 15px;
    z-index: 150;
    background: none;
    outline: none;
    border: none;
  }

  /* headline */
  .headline_wrapper {
    background: url(../images/hero_container.png);
    background-size: contain;
    height: 60vh;
  }

  .headline {
    padding: 110px 15px 0 15px;
    color: var(--clr-secondary);
  }

  .headline h1 {
    font-weight: var(--fw-bold);
    font-size: 34px;
  }

  .headline p {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .description_wrapper {
    padding: 15px;
  }

  .description {
    padding: 15px;
    border: 2px solid var(--clr-white);
    background-color: var(--clr-neutral-light);
  }

  .description p {
    font-size: 13px;
    font-weight: var(--fw-regurlar-plus);
    line-height: 1.7;
  }

  .day_address {
    padding: 10px 15px 15px 15px;
    color: var(--clr-primary-light);
  }

  .day {
    font-size: 25px;
    font-weight: var(--fw-bold);
    margin-bottom: 10px;
  }

  .address {
    font-size: 14px;
  }
}
